In [11]:
import pandas as pd
import numpy as np

In [13]:
# insert here the file to upload
matches_file = 'match_results_big5_2021.csv'

### importing data and updating matches table

In [16]:
new_matches = pd.read_csv(f'data/{matches_file}')
new_matches.head()

,Unnamed: 0,Competition_Name,Gender,Country,Season_End_Year,Round,Wk,Day,Date,Time,...,HomeGoals,Home_xG,Away,AwayGoals,Away_xG,Attendance,Venue,Referee,Notes,MatchURL
0,1,La Liga,M,ESP,2021,NaN,1,Sat,2020-09-12,16:00,...,0,0.4,Celta Vigo,0,0.6,NaN,Estadio Municipal de Ipurúa,Valentín Pizarro,NaN,https://fbref.com/en/matches/056f7848/Eibar-Ce...
1,2,La Liga,M,ESP,2021,NaN,1,Sat,2020-09-12,18:30,...,2,0.4,Athletic Club,0,0.5,NaN,Estadio Nuevo Los Cármenes,Antonio Matéu Lahoz,NaN,https://fbref.com/en/matches/083135b8/Granada-...
2,3,La Liga,M,ESP,2021,NaN,1,Sat,2020-09-12,21:00,...,0,0.7,Osasuna,2,0.8,NaN,Estadio Ramón de Carranza,Isidro Díaz de Mera,NaN,https://fbref.com/en/matches/15d5602e/Cadiz-Os...
3,4,La Liga,M,ESP,2021,NaN,1,Sun,2020-09-13,14:00,...,0,1.2,Betis,1,0.4,NaN,Estadio de Mendizorroza,Pablo González,NaN,https://fbref.com/en/matches/8c3b5490/Alaves-R...
4,5,La Liga,M,ESP,2021,NaN,1,Sun,2020-09-13,16:00,...,1,0.8,Real Sociedad,1,0.3,NaN,Estadio Municipal José Zorrilla,Mario Melero,NaN,https://fbref.com/en/matches/36e547b6/Valladol...

In [18]:
new_matches.drop(['Unnamed: 0','Gender','Country', 'Round', 'Venue','Referee', 'Notes','Attendance', 'MatchURL'], axis=1, inplace=True)
# matches['match_id'] = np.arange(len(matches))
new_matches.head()

,Competition_Name,Season_End_Year,Wk,Day,Date,Time,Home,HomeGoals,Home_xG,Away,AwayGoals,Away_xG
0,La Liga,2021,1,Sat,2020-09-12,16:00,Eibar,0,0.4,Celta Vigo,0,0.6
1,La Liga,2021,1,Sat,2020-09-12,18:30,Granada,2,0.4,Athletic Club,0,0.5
2,La Liga,2021,1,Sat,2020-09-12,21:00,Cádiz,0,0.7,Osasuna,2,0.8
3,La Liga,2021,1,Sun,2020-09-13,14:00,Alavés,0,1.2,Betis,1,0.4
4,La Liga,2021,1,Sun,2020-09-13,16:00,Valladolid,1,0.8,Real Sociedad,1,0.3

In [20]:
seasons = pd.read_csv('tables/seasons.csv')
seasons

   season_id  Season_End_Year
0          0             2020
1          1             2021
2          2             2022
3          3             2023
4          4             2024
5          5             2025
6         -2             2021

In [22]:
leagues = pd.read_csv('tables/leagues.csv')
leagues

   league_id Competition_Name Country
0          0   Premier League     ENG
1          1          Serie A     ITA
2          2          La Liga     ESP
3          3       Bundesliga     GER
4          4          Ligue 1     FRA

In [24]:
new_matches = pd.merge(new_matches, seasons,on=['Season_End_Year'], how='left')
new_matches = pd.merge(new_matches, leagues,on=['Competition_Name'], how='left')
new_matches.drop(['Season_End_Year', 'Competition_Name'], axis=1, inplace=True)
new_matches.head()

,Wk,Day,Date,Time,Home,HomeGoals,Home_xG,Away,AwayGoals,Away_xG,season_id,league_id,Country
0,1,Sat,2020-09-12,16:00,Eibar,0,0.4,Celta Vigo,0,0.6,1,2,ESP
1,1,Sat,2020-09-12,16:00,Eibar,0,0.4,Celta Vigo,0,0.6,-2,2,ESP
2,1,Sat,2020-09-12,18:30,Granada,2,0.4,Athletic Club,0,0.5,1,2,ESP
3,1,Sat,2020-09-12,18:30,Granada,2,0.4,Athletic Club,0,0.5,-2,2,ESP
4,1,Sat,2020-09-12,21:00,Cádiz,0,0.7,Osasuna,2,0.8,1,2,ESP

In [26]:
teams=pd.read_csv('tables/teams.csv')
teams.head()

             Squad  team_id  league_id
0          Almería        1        2.0
1    Athletic Club        6        2.0
2  Atlético Madrid        7        2.0
3        Barcelona       10        2.0
4            Betis       12        2.0

In [28]:
new_matches = pd.merge(new_matches, teams[['Squad','team_id']] ,left_on='Home', right_on='Squad', how='left')
new_matches.rename(columns={'team_id':'home_id'}, inplace=True)
new_matches= pd.merge(new_matches, teams[['Squad','team_id']] ,left_on='Away', right_on='Squad', how='left')
new_matches.rename(columns={'team_id':'away_id'}, inplace=True)
new_matches.drop(['Home', 'Away', 'Squad_x', 'Squad_y'],axis=1, inplace=True)
new_matches.head()

,Wk,Day,Date,Time,HomeGoals,Home_xG,AwayGoals,Away_xG,season_id,league_id,Country,home_id,away_id
0,1,Sat,2020-09-12,16:00,0,0.4,0,0.6,1,2,ESP,101,19
1,1,Sat,2020-09-12,16:00,0,0.4,0,0.6,-2,2,ESP,101,19
2,1,Sat,2020-09-12,18:30,2,0.4,0,0.5,1,2,ESP,100,6
3,1,Sat,2020-09-12,18:30,2,0.4,0,0.5,-2,2,ESP,100,6
4,1,Sat,2020-09-12,21:00,0,0.7,2,0.8,1,2,ESP,24,67

In [30]:
# set match result
result = np.zeros(len(new_matches), dtype = str)

for i in range(len(new_matches)):
    if np.array(new_matches['HomeGoals'])[i] == np.array(new_matches['AwayGoals'])[i]:
        result[i] = 'x'
    elif np.array(new_matches['HomeGoals'])[i] < np.array(new_matches['AwayGoals'])[i]:
        result[i] = 2
    else:
        result[i] = 1
new_matches['result'] = result
new_matches

,Wk,Day,Date,Time,HomeGoals,Home_xG,AwayGoals,Away_xG,season_id,league_id,Country,home_id,away_id,result
0,1,Sat,2020-09-12,16:00,0,0.4,0,0.6,1,2,ESP,101,19,x
1,1,Sat,2020-09-12,16:00,0,0.4,0,0.6,-2,2,ESP,101,19,x
2,1,Sat,2020-09-12,18:30,2,0.4,0,0.5,1,2,ESP,100,6,0
3,1,Sat,2020-09-12,18:30,2,0.4,0,0.5,-2,2,ESP,100,6,0
4,1,Sat,2020-09-12,21:00,0,0.7,2,0.8,1,2,ESP,24,67,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,9,Sun,2020-11-08,18:30,2,2.1,1,1.7,-2,2,ESP,92,6,0
756,9,Sun,2020-11-08,18:30,1,2.1,1,0.8,1,2,ESP,99,102,x
757,9,Sun,2020-11-08,18:30,1,2.1,1,0.8,-2,2,ESP,99,102,x
758,9,Sun,2020-11-08,21:00,4,2.5,1,1.3,1,2,ESP,91,71,0
759,9,Sun,2020-11-08,21:00,4,2.5,1,1.3,-2,2,ESP,91,71,0

In [37]:
matches = pd.read_csv('tables/matches.csv')
matches

,Wk,Day,Date,Time,HomeGoals,Home_xG,AwayGoals,Away_xG,match_id,season_id,league_id,Country,home_id,away_id,result
0,1,Fri,2019-08-16,21:00,1,0.5,0,0.9,0,0,2,ESP,6,10,0
1,1,Sat,2019-08-17,17:00,1,1.6,3,2.1,1,0,2,ESP,19,71,1
2,1,Sat,2019-08-17,19:00,1,2.3,1,1.8,2,0,2,ESP,91,72,x
3,1,Sat,2019-08-17,20:00,2,1.6,1,0.7,3,0,2,ESP,54,101,0
4,1,Sat,2019-08-17,21:00,0,1.4,1,0.2,4,0,2,ESP,98,67,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,9,Sun,2019-10-20,12:00,2,2.1,0,1.3,375,0,2,ESP,102,19,0
376,9,Sun,2019-10-20,14:00,3,1.4,1,1.0,376,0,2,ESP,72,12,0
377,9,Sun,2019-10-20,16:00,0,1.0,1,1.6,377,0,2,ESP,29,93,1
378,9,Sun,2019-10-20,18:30,1,1.5,1,0.7,378,0,2,ESP,6,92,x
379,9,Sun,2019-10-20,21:00,1,2.7,0,0.5,379,0,2,ESP,80,99,0

In [39]:
ids = np.arange(len(matches), len(matches)+len(new_matches))
new_matches['match_id'] = ids
new_matches

,Wk,Day,Date,Time,HomeGoals,Home_xG,AwayGoals,Away_xG,season_id,league_id,Country,home_id,away_id,result,match_id
0,1,Sat,2020-09-12,16:00,0,0.4,0,0.6,1,2,ESP,101,19,x,380
1,1,Sat,2020-09-12,16:00,0,0.4,0,0.6,-2,2,ESP,101,19,x,381
2,1,Sat,2020-09-12,18:30,2,0.4,0,0.5,1,2,ESP,100,6,0,382
3,1,Sat,2020-09-12,18:30,2,0.4,0,0.5,-2,2,ESP,100,6,0,383
4,1,Sat,2020-09-12,21:00,0,0.7,2,0.8,1,2,ESP,24,67,1,384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,9,Sun,2020-11-08,18:30,2,2.1,1,1.7,-2,2,ESP,92,6,0,1135
756,9,Sun,2020-11-08,18:30,1,2.1,1,0.8,1,2,ESP,99,102,x,1136
757,9,Sun,2020-11-08,18:30,1,2.1,1,0.8,-2,2,ESP,99,102,x,1137
758,9,Sun,2020-11-08,21:00,4,2.5,1,1.3,1,2,ESP,91,71,0,1138
759,9,Sun,2020-11-08,21:00,4,2.5,1,1.3,-2,2,ESP,91,71,0,1139

In [41]:
new_matches.loc[1:]

,Wk,Day,Date,Time,HomeGoals,Home_xG,AwayGoals,Away_xG,season_id,league_id,Country,home_id,away_id,result,match_id
1,1,Sat,2020-09-12,16:00,0,0.4,0,0.6,-2,2,ESP,101,19,x,381
2,1,Sat,2020-09-12,18:30,2,0.4,0,0.5,1,2,ESP,100,6,0,382
3,1,Sat,2020-09-12,18:30,2,0.4,0,0.5,-2,2,ESP,100,6,0,383
4,1,Sat,2020-09-12,21:00,0,0.7,2,0.8,1,2,ESP,24,67,1,384
5,1,Sat,2020-09-12,21:00,0,0.7,2,0.8,-2,2,ESP,24,67,1,385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,9,Sun,2020-11-08,18:30,2,2.1,1,1.7,-2,2,ESP,92,6,0,1135
756,9,Sun,2020-11-08,18:30,1,2.1,1,0.8,1,2,ESP,99,102,x,1136
757,9,Sun,2020-11-08,18:30,1,2.1,1,0.8,-2,2,ESP,99,102,x,1137
758,9,Sun,2020-11-08,21:00,4,2.5,1,1.3,1,2,ESP,91,71,0,1138
759,9,Sun,2020-11-08,21:00,4,2.5,1,1.3,-2,2,ESP,91,71,0,1139

In [43]:
num_row_uploaded=0

for i in range(len(new_matches)):
    if new_matches.loc[i]['match_id'] not in np.array(matches['match_id']):
        matches = pd.concat([matches, new_matches.loc[i:i]], axis=0, ignore_index=True)
        num_row_uploaded +=1
        
        
print(f'Uploaded {num_row_uploaded} rows!')
matches.to_csv('tables/matches.csv', index=False)
matches

Uploaded 760 rows!

,Wk,Day,Date,Time,HomeGoals,Home_xG,AwayGoals,Away_xG,match_id,season_id,league_id,Country,home_id,away_id,result
0,1,Fri,2019-08-16,21:00,1,0.5,0,0.9,0,0,2,ESP,6,10,0
1,1,Sat,2019-08-17,17:00,1,1.6,3,2.1,1,0,2,ESP,19,71,1
2,1,Sat,2019-08-17,19:00,1,2.3,1,1.8,2,0,2,ESP,91,72,x
3,1,Sat,2019-08-17,20:00,2,1.6,1,0.7,3,0,2,ESP,54,101,0
4,1,Sat,2019-08-17,21:00,0,1.4,1,0.2,4,0,2,ESP,98,67,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,9,Sun,2020-11-08,18:30,2,2.1,1,1.7,1135,-2,2,ESP,92,6,0
1136,9,Sun,2020-11-08,18:30,1,2.1,1,0.8,1136,1,2,ESP,99,102,x
1137,9,Sun,2020-11-08,18:30,1,2.1,1,0.8,1137,-2,2,ESP,99,102,x
1138,9,Sun,2020-11-08,21:00,4,2.5,1,1.3,1138,1,2,ESP,91,71,0
1139,9,Sun,2020-11-08,21:00,4,2.5,1,1.3,1139,-2,2,ESP,91,71,0