In [1]:
import pandas as pd
import numpy as np

### importing data and creating matches table

In [3]:
matches = pd.read_csv('data/match_results_big5_2020.csv')
matches.head()

,Unnamed: 0,Competition_Name,Gender,Country,Season_End_Year,Round,Wk,Day,Date,Time,...,HomeGoals,Home_xG,Away,AwayGoals,Away_xG,Attendance,Venue,Referee,Notes,MatchURL
0,1,La Liga,M,ESP,2020,NaN,1,Fri,2019-08-16,21:00,...,1,0.5,Barcelona,0,0.9,47693.0,San Mamés,Carlos del Cerro,NaN,https://fbref.com/en/matches/5dc61284/Athletic...
1,2,La Liga,M,ESP,2020,NaN,1,Sat,2019-08-17,17:00,...,1,1.6,Real Madrid,3,2.1,23566.0,Estadio de Balaídos,Daniel Ask,NaN,https://fbref.com/en/matches/b4affa1c/Celta-Vi...
2,3,La Liga,M,ESP,2020,NaN,1,Sat,2019-08-17,19:00,...,1,2.3,Real Sociedad,1,1.8,41846.0,Estadio de Mestalla,Jesús Gil,NaN,https://fbref.com/en/matches/b51e5fac/Valencia...
3,4,La Liga,M,ESP,2020,NaN,1,Sat,2019-08-17,20:00,...,2,1.6,Eibar,1,0.7,15127.0,Iberostar Estadi,Mario Melero,NaN,https://fbref.com/en/matches/105b7e35/Mallorca...
4,5,La Liga,M,ESP,2020,NaN,1,Sat,2019-08-17,21:00,...,0,1.4,Osasuna,1,0.2,10020.0,Estadio Municipal de Butarque,Hsu Jason,NaN,https://fbref.com/en/matches/4eeb397f/Leganes-...

In [6]:
matches.drop(['Unnamed: 0','Gender','Country', 'Round', 'Venue','Referee', 'Notes','Attendance', 'MatchURL'], axis=1, inplace=True)
matches['match_id'] = np.arange(len(matches))
matches.head()

,Competition_Name,Season_End_Year,Wk,Day,Date,Time,Home,HomeGoals,Home_xG,Away,AwayGoals,Away_xG,match_id
0,La Liga,2020,1,Fri,2019-08-16,21:00,Athletic Club,1,0.5,Barcelona,0,0.9,0
1,La Liga,2020,1,Sat,2019-08-17,17:00,Celta Vigo,1,1.6,Real Madrid,3,2.1,1
2,La Liga,2020,1,Sat,2019-08-17,19:00,Valencia,1,2.3,Real Sociedad,1,1.8,2
3,La Liga,2020,1,Sat,2019-08-17,20:00,Mallorca,2,1.6,Eibar,1,0.7,3
4,La Liga,2020,1,Sat,2019-08-17,21:00,Leganés,0,1.4,Osasuna,1,0.2,4

In [8]:
seasons = pd.read_csv('tables/seasons.csv')
seasons

   season_id  Season_End_Year
0          0             2020
1          1             2021
2          2             2022
3          3             2023
4          4             2024
5          5             2025

In [10]:
leagues = pd.read_csv('tables/leagues.csv')
leagues

   league_id Competition_Name Country
0          0   Premier League     ENG
1          1          Serie A     ITA
2          2          La Liga     ESP
3          3       Bundesliga     GER
4          4          Ligue 1     FRA

In [12]:
matches = pd.merge(matches, seasons, on=['Season_End_Year'], how='left')
matches = pd.merge(matches, leagues, on=['Competition_Name'], how='left')
matches.drop(['Season_End_Year', 'Competition_Name'], axis=1, inplace=True)
matches.head()

,Wk,Day,Date,Time,Home,HomeGoals,Home_xG,Away,AwayGoals,Away_xG,match_id,season_id,league_id,Country
0,1,Fri,2019-08-16,21:00,Athletic Club,1,0.5,Barcelona,0,0.9,0,0,2,ESP
1,1,Sat,2019-08-17,17:00,Celta Vigo,1,1.6,Real Madrid,3,2.1,1,0,2,ESP
2,1,Sat,2019-08-17,19:00,Valencia,1,2.3,Real Sociedad,1,1.8,2,0,2,ESP
3,1,Sat,2019-08-17,20:00,Mallorca,2,1.6,Eibar,1,0.7,3,0,2,ESP
4,1,Sat,2019-08-17,21:00,Leganés,0,1.4,Osasuna,1,0.2,4,0,2,ESP

In [14]:
teams=pd.read_csv('tables/teams.csv')
teams.head()

             Squad  team_id  league_id
0          Almería        1        2.0
1    Athletic Club        6        2.0
2  Atlético Madrid        7        2.0
3        Barcelona       10        2.0
4            Betis       12        2.0

In [16]:
matches = pd.merge(matches, teams[['Squad','team_id']] ,left_on='Home', right_on='Squad', how='left')
matches.rename(columns={'team_id':'home_id'}, inplace=True)
matches= pd.merge(matches, teams[['Squad','team_id']] ,left_on='Away', right_on='Squad', how='left')
matches.rename(columns={'team_id':'away_id'}, inplace=True)
matches.drop(['Home', 'Away', 'Squad_x', 'Squad_y'],axis=1, inplace=True)
matches.head()

,Wk,Day,Date,Time,HomeGoals,Home_xG,AwayGoals,Away_xG,match_id,season_id,league_id,Country,home_id,away_id
0,1,Fri,2019-08-16,21:00,1,0.5,0,0.9,0,0,2,ESP,6,10
1,1,Sat,2019-08-17,17:00,1,1.6,3,2.1,1,0,2,ESP,19,71
2,1,Sat,2019-08-17,19:00,1,2.3,1,1.8,2,0,2,ESP,91,72
3,1,Sat,2019-08-17,20:00,2,1.6,1,0.7,3,0,2,ESP,54,101
4,1,Sat,2019-08-17,21:00,0,1.4,1,0.2,4,0,2,ESP,98,67

In [18]:
# set match result
result = np.zeros(len(matches), dtype = str)

for i in range(len(matches)):
    if np.array(matches['HomeGoals'])[i] == np.array(matches['AwayGoals'])[i]:
        result[i] = 'x'
    elif np.array(matches['HomeGoals'])[i] < np.array(matches['AwayGoals'])[i]:
        result[i] = 2
    else:
        result[i] = 1
matches['result'] = result
matches

,Wk,Day,Date,Time,HomeGoals,Home_xG,AwayGoals,Away_xG,match_id,season_id,league_id,Country,home_id,away_id,result
0,1,Fri,2019-08-16,21:00,1,0.5,0,0.9,0,0,2,ESP,6,10,1
1,1,Sat,2019-08-17,17:00,1,1.6,3,2.1,1,0,2,ESP,19,71,2
2,1,Sat,2019-08-17,19:00,1,2.3,1,1.8,2,0,2,ESP,91,72,x
3,1,Sat,2019-08-17,20:00,2,1.6,1,0.7,3,0,2,ESP,54,101,1
4,1,Sat,2019-08-17,21:00,0,1.4,1,0.2,4,0,2,ESP,98,67,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,9,Sun,2019-10-20,12:00,2,2.1,0,1.3,375,0,2,ESP,102,19,1
376,9,Sun,2019-10-20,14:00,3,1.4,1,1.0,376,0,2,ESP,72,12,1
377,9,Sun,2019-10-20,16:00,0,1.0,1,1.6,377,0,2,ESP,29,93,2
378,9,Sun,2019-10-20,18:30,1,1.5,1,0.7,378,0,2,ESP,6,92,x
379,9,Sun,2019-10-20,21:00,1,2.7,0,0.5,379,0,2,ESP,80,99,1

In [20]:
matches.to_csv('tables/matches.csv', index=False)